* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Calibri;
    background-color: #f4f4f4;
    color: #333;
}

/* Menu Lateral */
#sidebar {
    width: 250px;
    background-color: black;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    border-radius: 0 10px 10px 0;
    display: block; /* Esconder o menu lateral */
}

    #sidebar .nav {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #sidebar .nav li {
            margin: 10px 5px;
        }

            #sidebar .nav li a {
                display: flex;
                align-items: center;
                font-size: 16px;
                color: #333;
                text-decoration: none;
                padding: 10px 15px;
            }

                #sidebar .nav li a i {
                    margin-right: 10px;
                    font-size: 18px;
                    color: #555;
                }

                #sidebar .nav li a:hover {
                    background-color: #f4f4f4;
                    border-radius: 10px;
                    color: #000;
                }

                    #sidebar .nav li a:hover i {
                        color: #000;
                    }

/* Botão Upload de Moldes */
.upload-section {
    padding: 20px;
    background-color: black;
    text-align: center;
    margin-top: 80px;
}

.upload-button {
    display: inline-block;
    background-color: #f1ebd2;
    color: black;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
    transition: all 0.3s ease-in-out;
}

    .upload-button i {
        margin-right: 5px;
    }

    .upload-button:hover {
        background-color: #aa87fe;
        color: black;
        transform: scale(1.05);
    }
/* links institucionais */
.footer-links {
    display: flex;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

    .footer-links .top-links,
    .footer-links .bottom-links {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
       
    }

    .footer-links a {
        flex: 1;
        text-align: center;
        color: #444;
        font-size: 10px;
        font-weight: 500;
        text-decoration: none;
        padding: 0;
        width: 100px;
        transition: all 0.3s ease-in-out;
    }

        .footer-links a:hover {
            color: #ffffff;
            background-color: #d13e33;
            border-radius: 5px;
            padding: 2px;
            width: 100px;
            font-weight: bold;
            transform: scale(1.05);
        }

/* links redes sociais */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px;
}

    .social-icons a {
        text-decoration: none;
        color: #333; /* Ajuste a cor conforme necessário */
        transition: color 0.3s ease-in-out;
    }

        .social-icons a:hover {
            color: #d13e33; /* Cor ao passar o mouse */
        }

/* Conteúdo Principal */
#content {
    margin-left: 250px; /* Largura do menu lateral */
    padding: 20px;
}

/* Cabeçalho da página */
.header {
    text-align: center;
    margin-bottom: 30px;
}

    .header h1 {
        font-size: 36px;
        color: #333;
    }


/* Botões */
.btn-buy, .btn-edit, .btn-upload, .btn-delete {
    background-color: #111;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

    .btn-buy:hover, .btn-upload:hover, .btn-delete:hover {
        background-color: #444;
        transform: scale(1.05);
    }

.btn-upload {
    background-color: #007bff;
}

    .btn-upload:hover {
        background-color: #0056b3;
    }

.btn-delete {
    background-color: #d13e33;
}

    .btn-delete:hover {
        background-color: #c82333;
    }





/* Estilos para a página de configurações */
.config-form {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .config-form h3, .config-form h4 {
        color: #333;
        margin-bottom: 15px;
    }

    .config-form label {
        display: block;
        margin: 10px 0 5px;
        color: #555;
    }

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-radio {
    margin-top: 10px;
}

    .form-radio input[type="radio"] {
        margin-right: 8px;
    }

.btn-save {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    width: 100%;
}

    .btn-save:hover {
        background-color: #0056b3;
    }

/* Estilo do contêiner do anúncio */
.anuncios {
    position: fixed;
    top: 300px;
    right: 20px;
    background-color: #fff;
    padding: 15px;
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Garantir que fique acima de outros elementos */
}

/* Estilo do botão de fechar */
.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
}

    .close-button:hover {
        color: #000; /* Mudar cor ao passar o mouse */
    }



/* Filtros de busca no canto da tela */
.search-filters {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Garantir que fique acima de outros elementos */
}

    .search-filters h3 {
        color: #333;
        font-size: 20px;
        margin-bottom: 15px;
    }

.form-group {
    margin-bottom: 12px;
}

    .form-group label {
        font-size: 14px;
        color: #333;
    }

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-filter {
    background-color: #f1ebd2;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

    .btn-filter:hover {
        background-color: #aa87fe;
    }


.product-list {
    margin-right: 300px; /* Para dar espaço ao filtro fixo */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.product-item {
    background-color: white;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    width: 30%;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
}

    .product-item:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .product-item img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .product-item .product-details {
        text-align: center;
    }

        .product-item .product-details h3 {
            font-size: 18px;
            color: #333;
            margin-bottom: 10px;
        }

.btn-baixar {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

    .btn-baixar:hover {
        background-color: #444;
        transform: scale(1.05);
    }

/* Estilo para o Formulário de Upload */
.form-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .form-container h3 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    .form-container label {
        font-size: 14px;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
        display: block;
    }

    .form-container input[type="text"],
    .form-container textarea,
    .form-container input[type="file"] {
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 15px;
        width: 100%;
        box-sizing: border-box;
    }

    .form-container button {
        padding: 12px;
        font-size: 16px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .form-container button:hover {
            background-color: #444;
        }

/* Estilo para a seção de Informações sobre a venda */
.info-section {
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .info-section h2 {
        font-size: 22px;
        color: #333;
        margin-bottom: 15px;
    }

    .info-section p {
        font-size: 14px;
        line-height: 1.6;
        color: #555;
        margin-bottom: 10px;
    }

        .info-section p:last-child {
            margin-bottom: 0;
        }

    .info-section a {
        color: #000;
        text-decoration: none;
    }

        .info-section a:hover {
            text-decoration: underline;
        }


/* Banner Superior */
.banner {
    position: relative;
    width: 70%;
    height: 300px;
    background-color: #f4f4f4;
    overflow: hidden;
}

    .banner img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
        filter: brightness(0.7);
    }

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

    .banner-text h1 {
        font-size: 36px;
        margin: 0;
    }

    .banner-text p {
        font-size: 18px;
        margin-top: 10px;
    }

/* Seção de Vídeos */
.video-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Sempre 2 colunas */
    gap: 20px;
    justify-content: center;
    max-width: 70%; /* Garante que não fique muito largo */
    margin: 0; /* Centraliza na tela */
    padding: 20px;
    background-color: #f4f4f4;
}

    .video-section h2 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 20px;
        font-family: Arial, sans-serif;
    }

/* Estilização do item de vídeo */
.video-item {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    width: 100%; /* Ajusta ao grid */
}

    .video-item:hover {
        transform: scale(1.05);
    }

    .video-item img {
        width: 100%;
        height: 180px;
        border-radius: 20px;
        object-fit: cover;
    }

/* Área dos detalhes do vídeo */
.video-details {
    padding: 10px 15px;
}

    .video-details h3 {
        font-size: 14px;
        margin: 10px 0;
        font-family: Arial, sans-serif;
    }

    .video-details p {
        font-size: 14px;
        color: #666;
        margin-bottom: 10px;
    }

/* Botão de assistir */
.btn-watch {
    display: inline-block;
    padding: 10px 20px;
    font-size: 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

    .btn-watch:hover {
        background-color: #444;
    }



/* detalhes molde */
a {
    text-decoration: none;
    color: #000000;
}

    a:hover {
        color: #555555;
    }
/* Títulos principais */
.content h1 {
    font-size: 28px;
    color: #333333;
    margin-bottom: 10px;
}

.content h2 {
    font-size: 22px;
    color: #000000;
    margin-bottom: 15px;
}

/* Estilização dos cartões */
.card {
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    /* Listas com ícones */
    .card ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .card ul li {
            margin: 10px 0;
            padding-left: 25px;
            position: relative;
            font-size: 16px;
            color: #555555;
        }

            .card ul li:before {
                content: '✔️';
                position: absolute;
                left: 0;
            }

/* Botão baixar agora */
.button {
    background-color: #d13e33;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

    .button:hover {
        background-color: #444;
        transform: scale(1.05);
    }
/*Ajuste de Estilo para as Páginas */
.page-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

    .page-container h1 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #333;
    }

    .page-container h2 {
        font-size: 20px;
        margin-top: 20px;
        color: #555;
    }

    .page-container p {
        font-size: 16px;
        color: #666;
        line-height: 1.6;
    }

    .page-container ul {
        list-style: none;
        padding: 0;
    }

        .page-container ul li {
            font-size: 16px;
            color: #444;
            padding: 8px 0;
            border-bottom: 1px solid #ddd;
        }

    .page-container a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

        .page-container a:hover {
            text-decoration: underline;
        }

    /* Estilos do Formulário de Contato */
    .page-container label {
        display: block;
        font-weight: bold;
        margin-top: 15px;
    }

    .page-container input, .page-container textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

        .page-container input:focus, .page-container textarea:focus {
            border-color: #007bff;
            outline: none;
        }

    .page-container button {
        background: #007bff;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        margin-top: 15px;
        cursor: pointer;
    }

        .page-container button:hover {
            background: #0056b3;
        }



#menu-toggle {
    display: block; /* Mostrar o ícone de menu */
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    cursor: pointer;
    font-size: 24px;
    color: #555;
}

/* Mostrar o menu lateral quando o ícone de menu for clicado */
#sidebar.active {
    display: none;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .form-container {
        margin: 10px;
        padding: 15px;
    }

        .form-container label {
            font-size: 13px;
        }

        .form-container input[type="text"],
        .form-container input[type="file"],
        .form-container button {
            font-size: 12px;
            padding: 8px;
        }
}


/* Responsividade para Celular (telas menores que 768px) */
@media screen and (max-width: 768px) {
    /* Ajustes gerais */
    body {
        font-size: 14px; /* Tamanho de fonte menor para melhor legibilidade */
        line-height: 1.5; /* Espaçamento entre linhas */
        background-color: black;
    }

    /* Menu Lateral */
    #sidebar {
        width: 100%; /* Ocupar toda a largura da tela */
        height: auto; /* Altura automática */
        position: relative; /* Remover posição fixa */
        border-radius: 0; /* Remover bordas arredondadas */
        padding: 10px 0; /* Reduzir o padding */
    }

        #sidebar .nav li a {
            padding: 8px 10px; /* Reduzir o padding dos links */
            font-size: 14px; /* Tamanho de fonte menor */
        }

            #sidebar .nav li a i {
                font-size: 16px; /* Tamanho de ícone menor */
            }

    /* Conteúdo Principal */
    #content {
        margin-left: 0; /* Remover margem esquerda */
        padding: 10px; /* Reduzir o padding */
    }

    /* Cabeçalho */
    .header h1 {
        font-size: 24px; /* Tamanho de título menor */
        margin-bottom: 15px; /* Reduzir margem inferior */
    }

    /* Banner Superior */
    .banner {
        width: 100%; /* Ocupar toda a largura da tela */
        height: 150px; /* Reduzir a altura */
        background-color: black;
        margin: 40px 0 10px 0;
    }

    .banner-text h1 {
        font-size: 20px; /* Tamanho de título menor */
    }

    .banner-text p {
        font-size: 14px; /* Tamanho de texto menor */
    }

    /* Seção de Vídeos */
    .video-section {
        grid-template-columns: 1fr; /* Uma coluna em telas pequenas */
        max-width: 100%; /* Ocupar toda a largura da tela */
        padding: 10px; /* Reduzir o padding */
    }
    .video-section h3{
        font-size: 12px;
    }

    .video-item {
        margin-bottom: 15px; /* Espaçamento entre itens */
    }

        .video-item img {
            height: 120px; /* Reduzir a altura da imagem */
        }

    .video-details h3 {
        font-size: 12px; /* Tamanho de título menor */
    }

    .video-details p {
        font-size: 12px; /* Tamanho de texto menor */
    }

    /* Filtros de Busca */
    .search-filters {
        position: relative; /* Remover posição fixa */
        width: 100%; /* Ocupar toda a largura da tela */
        top: 0;
        left: 0;
        margin-bottom: 20px; /* Adicionar margem inferior */
        padding: 10px; /* Reduzir o padding */
    }

        .search-filters h3 {
            font-size: 18px; /* Tamanho de título menor */
        }

    .form-control {
        font-size: 14px; /* Tamanho de fonte menor */
    }

    /* Lista de Produtos */
    .product-list {
        margin-right: 0; /* Remover margem direita */
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .product-item {
        width: 100%; /* Ocupar toda a largura da tela */
        padding: 10px; /* Reduzir o padding */
        align-items: center;
        justify-content: center;
        margin: auto;
    }

        .product-item img {
            margin: 0 0 10px 50px; /* Reduzir margem inferior */
        }

        .product-item .product-details h3 {
            font-size: 16px; /* Tamanho de título menor */
        }

    /* Botões */
    .btn-buy, .btn-edit, .btn-upload, .btn-delete, .btn-baixar, .btn-watch, .btn-save, .btn-filter {
        width: 100%; /* Botões ocuparem toda a largura */
        margin-top: 10px; /* Adicionar margem superior */
        padding: 10px; /* Reduzir o padding */
        font-size: 14px; /* Tamanho de fonte menor */
    }

    /* Links de Rodapé */
    .footer-links {
        padding: 10px; /* Reduzir o padding */
    }

        .footer-links .top-links, .footer-links .bottom-links {
            flex-direction: column; /* Exibir links em coluna */
        }

        .footer-links a {
            padding: 10px; /* Reduzir o padding */
            font-size: 12px; /* Tamanho de fonte menor */
        }

    /* Formulários */
    .config-form, .form-container {
        padding: 15px; /* Reduzir o padding */
    }

        .form-container label {
            font-size: 14px; /* Tamanho de fonte menor */
        }

        .form-container input[type="text"],
        .form-container textarea,
        .form-container input[type="file"] {
            font-size: 14px; /* Tamanho de fonte menor */
            padding: 8px; /* Reduzir o padding */
        }

        .form-container button {
            font-size: 14px; /* Tamanho de fonte menor */
            padding: 10px; /* Reduzir o padding */
        }

    /* Páginas de Conteúdo */
    .page-container {
        padding: 15px; /* Reduzir o padding */
    }

        .page-container h1 {
            font-size: 24px; /* Tamanho de título menor */
        }

        .page-container h2 {
            font-size: 20px; /* Tamanho de título menor */
        }

        .page-container p {
            font-size: 14px; /* Tamanho de fonte menor */
        }

        .page-container ul li {
            font-size: 14px; /* Tamanho de fonte menor */
        }
        .detalhes-molde {
            margin-top: 40px;
        }
        .info {
        color: white;
        }
}
/* Esconder o menu lateral por padrão em dispositivos móveis */
@media screen and (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
        display: none; /* Esconder o menu lateral */
        border-radius: 0;
    }

    #content {
        margin-left: 0;
    }

    #menu-toggle {
        display: block; /* Mostrar o ícone de menu */
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000;
        cursor: pointer;
        font-size: 24px;
        color: white;
    }

    /* Mostrar o menu lateral quando o ícone de menu for clicado */
    #sidebar.active {
        display: block;
    }
}